.inputs {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15em;
  &_item {
    margin-bottom: 1em;
    width: 15em;
    display: flex;
    flex-direction: column;
    & label {
      font-size: 1.2em;
    }
    &_input {
      height: 1em;
      font-size: 1.5em;
      border-radius: 5px;
    }
    &_length {
      display: flex;
      justify-content: space-between;
      width: 15em;
      &_input {
        width: 100%;
        height: 1em;
        font-size: 1.5em;
        border-radius: 5px;
      }
      &_map {
        -webkit-appearance: none;
        padding: 0;
        margin: 0 0.7em;
        border: none;
        width: 3em;
        border-radius: 3px;
        background-color: white;
        background-image: url("../../dist/planet-earth.png");
        background-repeat: no-repeat;
        background-size: contain;
        cursor: pointer;
      }
    }
  }
  &_button {
    -webkit-appearance: none;
    margin-bottom: 1em;
    border: none;
    height: 3em;
    border-radius: 5px;
    font-size: 1.2em;
    color: rgb(0, 0, 0);
    background-color: rgb(170, 252, 207);
    cursor: pointer;
  }
}